body {
    margin: 20px auto;
    font-family: Inter;
    background: #1e1e1e;
}

.container {
    max-width: 550px;
    min-height: 729 px;
    margin: auto;
    text-align: center;
}

.main {
    background: #6943FF;
    height: 285px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    color: white;
    font-weight: 800;
    font-size: 28px;
}

input {
    font-weight: 800;
    font-size: 58px;   
    width: 110px;
    padding: 7px;
    background-color: #6943FF;
    color: white;
    border: 2px #B295FF solid;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}

button {
    font-family: Inter;
    background: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: #3D3D3D;
    margin-top: 30px;
}

.resultcontainer {
    background: #1F2937;
    height: 444px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.result{
    width: 500px;
    height: 109px;
    background: #273549;
}

h2 {
    color: #CCC1FF;
    font-size: 20px;
    font-weight: 600;
}

h3 {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
}